<div class="describe-product-cpn">
  <div class="check-list-content" style="display: flex; align-items: center; padding-bottom: 40px;">
  <div class="check-list-icon" style="margin-right: 10px;">
    <img src="https://ucarecdn.com/036783c6-6e23-462a-98e0-a52f9f42f4c9/-/format/auto/-/preview/3000x3000/-/quality/lighter/unnamed.png">
  </div>
  <div class="check-list-text" style="font-size: 24px;">注意事項</div>
  </div>

  <div class="list-product-img"></div>
</div>
<script>var product = ({{product | json }})</script>