<div class="data-store-cpn">
  <div class="delivery-option">
    <div class="center">
      <select name="sources" id="sources" class="custom-select sources" placeholder="選択してください"></select>
    </div>
  </div>
  
  <div class="data-container">
    <div class="data-wrapper">
    <div class="column store-introducing">
      <div class="store-introducing-text">店舗紹介文</div>
      <div class="store-introducing-desc">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
  </div>
  
  <div class="column other-data">
    <div class="store-name">店舗名: {{product.vendor}}</div>
    <div class="driver">運営責任者</div>
    <div class="other-info">〒</div>
  </div>
</div>
  </div>
</div>

<div class="product-processed-by-store-cpn">
  <div class="check-list-content" style="display: flex; align-items: center; padding-bottom: 40px;">
    <div class="check-list-icon" style="margin-right: 10px;">
      <img src="https://ucarecdn.com/036783c6-6e23-462a-98e0-a52f9f42f4c9/-/format/auto/-/preview/3000x3000/-/quality/lighter/unnamed.png">
    </div>
    <div class="check-list-text" style="font-size: 24px;">この店舗の取扱商品</div>
  </div>
  
  <div class="list-product"></div>
</div>

<script defer="" src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{appKeyYotpo}}"></script>