<div class="social-network-cpn">
  <div class="list-social-network">
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><a target="blank" href="https://www.facebook.com/sharer/sharer.php?u={{canonical_url}}" style="color: unset;"><i class="fab fa-facebook-f"></i></a></div>
    </div>
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><a target="blank" href="https://twitter.com/intent/tweet?url={{canonical_url}}" style="color: unset;"><i class="fab fa-twitter"></i></a></div>
    </div>
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><a target="blank" href="https://social-plugins.line.me/lineit/share?url={{canonical_url}}" style="color: unset;"><i class="fab fa-line"></i></a></div>
    </div>
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><a target="blank" href="mailto:info@example.com?&amp;subject=&amp;cc=&amp;bcc=&amp;body={{canonical_url}}" style="color: unset;"><i class="fas fa-envelope"></i></a></div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"> 