<div class="delivery-cpn">
    <div class="delivery-title">配送：届け予定日（お届け先の地域の選択）</div>
  <!--  <div class="delivery-option">-->
  <!--    <div class="center">-->
  <!--  <div class="custom-select sources">-->
  <!--  <span class="custom-select-trigger">選択してください</span>-->
  <!--  <div class="custom-options">-->
  <!--    <span class="custom-option" data-value="profile">Profile</span>-->
  <!--    <span class="custom-option" data-value="word">Word</span>-->
  <!--    <span class="custom-option" data-value="hashtag">Hashtag</span>-->
  <!--  </div>-->
  <!--</div>-->
  <!--</div>-->
  <!--  </div>-->
  
  <!-- Delivery product page snippet --> 
  {% if shop.metafields.dsm_widget and shop.metafields.dsm_widget.dsm_widget_allow_page and shop.metafields.dsm_widget.dsm_widget_allow_page == 'Product Page' %}{% include 'dsm-product-widget' %}{% endif %} 
  <!-- End of delivery product page snippet -->
  
  </div>
  