<div class="count-number-product-cpn">
  <div class="title-counter">数量 : </div>
   <div class="wrapper">
      <span class="minus">–</span>
      <input class="num" value="1">
      <span class="plus">+</span>
    </div>
  </div>
